@font-face{
  font-family: Product Sans;
  src: url("/fonts/ProductSans.ttf");
}
@font-face{
  font-family: Product Sans;
  src: url("/fonts/ProductSans_I.ttf");
  font-style: italic;
}
@font-face{
  font-family: Product Sans;
  src: url("/fonts/ProductSans_B.ttf");
  font-weight: bold;
}
@font-face{
  font-family: Product Sans;
  src: url("/fonts/ProductSans_BI.ttf");
  font-weight: bold;
  font-style: italic;
}