// Variables ========

// Colors

$greys: (
  0: #f1f7fc,
  50: #e9f2fa,
  100: #c4cdd5,
  300: #90989f,
  500: #454d53,
  700: #2e363c,
  900: #1E252A,
  950: #0f171c
);
// ^ these are bluish-grays. 
 
$accent-pink: #FF789E;
$accent-indigo: #6F3381;
$warn-alizarin: #E32636;

$theme-light: (
  bg: $greys.50,
  bg-dim: $greys.100,
  accent: $accent-pink,
  text: $greys.700,
  text-light: $greys.300
);

$theme-dark: (
  bg: $greys.950,
  bg-dim: $greys.900,
  accent: $accent-indigo,
  text: $greys.300,
  text-light: $greys.700
);

// Fonts ========

// @font-face {
//   font-family: 
// }

$display-font: Product Sans, Segoe UI, Roboto, sans-serif;
$text-font: Segoe UI, Roboto, Carlito, Calibri, Arial, sans-serif;